.app {
  background-color: #FFFFF0;
}

.hero-image {
  height: 100vh;
  width: 100vw;
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url("../assets/big-sur.JPG");
  margin-bottom: 60px;
}

.text-overlay {

  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.65);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.text-overlay h1 {
  font-size: 65px;
  letter-spacing: 0px;
  margin: 0 0 5px;
  text-align: center;
}

.overlay p {
  margin: 0;
  font-size: 28px;
}

.ui.black.ribbon.label {
  padding: 20px; 
  margin: 5px;
  font-size: 2rem;
}

i {
  font-size: 7rem;
  padding: 20px;
}

#footer-icon {
  padding: 0;
}

@media only screen and (max-width: 600px) {
  .ui.black.ribbon.label {
    padding: 10px; 
    font-size: 1rem;
  }
  i {
    font-size: 4rem;
    padding: 10px;
  }
}

#contact-me-button {
  padding: 0px;
  font-size: 2rem;
}
